:root {
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.wp-site-blocks {
  min-height: 100vh;
}

.wp-block-navigation a {
  text-decoration: none;
}

.wp-block-post-title a {
  color: inherit;
  text-decoration: none;
}

.wp-block-post-title a:hover,
.wp-block-post-title a:focus-visible {
  color: var(--wp--preset--color--primary);
}
